@import "tailwindcss";

@font-face {
  font-family: "Plus Jakarta Sans";
  src:
    url("/assets/fonts/PlusJakartaSans-VariableFont_wght.ttf")
      format("truetype-supports-variations"),
    url("/assets/fonts/PlusJakartaSans-VariableFont_wght.ttf")
      format("truetype");
  font-weight: 300 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-manrope: "Plus Jakarta Sans", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-manrope);
  --font-display: var(--font-playfair);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  font-family: var(--font-sans) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
  padding: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  background: #f3f4f6;
  border-left: 1px solid #d1d5db;
  opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
.price,
.amount,
button,
.btn,
.button,
strong,
b {
  font-weight: 700;
}

p,
span,
a,
li,
input,
textarea,
select,
label {
  font-weight: 500;
}
